# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.cxx

# iOS/Flutter specific
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Xcode specific (add these lines)
ios/xcbuild/
pifcache/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Exclude the .env file
/assets/.env
.DS_Store
